<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Crear Cuenta</title>
</head>
<body>
    <nav>
        <ul class="nav-left">
            <li><a href="/">Inicio</a></li>
        </ul>
        <ul class="nav-right">
            <li><a href="/login">Iniciar sesión</a></li>
            <li><a href="/crearcuenta">Crear Cuenta</a></li>
        </ul>
    </nav>
    <div class="create-account-container">
        <div class="form-container">
            <h2>Crear Cuenta</h2>
            <form action="/crearcuenta" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
                <input type="email" name="email" placeholder="Correo Electrónico" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Crear Cuenta</button>
                <a href="/login">¿Ya tienes una cuenta? Inicia sesión</a>
            </form>
        </div>
    </div>
</body>
</html>